html{background-color: black;}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card{
  color: white;
    background-color: #222;
    border: 1px solid white;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    width: 200px;

}

.top img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  padding: 5px;
  border-radius: 50%;
  
}
