* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav-light{
  display: flex;
  background-color: dodgerblue;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}
.nav-dark{
  display: flex;
  background-color: darkblue;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 25px;
}

.nav2{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

button{
  font-size: larger;
  margin: 50px;
}

